* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

header {
    margin: 60px 230px;
    color: #4E5150;
}

section {
    margin: 0 230px;
    display: flex;
}

.form {
    width: 50%;
}

.form h2 {
    color: #333333;
    font-size: 18px;
}

.email-user {
    margin: 10px 0;
    font-weight: 600;
}

.email-user p {
    color: #4F4F4F;
    font-size: 12px;
    margin-bottom: 5px;
}

.form-input {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
    width: 80%;
    border: solid 1px #828282 ;
    border-radius: 8px;
}

.form-input img {
    width: 20px;
    height: 20px;
    filter: invert(51%) sepia(0%) saturate(52%) hue-rotate(221deg) brightness(100%) contrast(124%);
}

.form-input input {
    border: none;
    width: 90%;
    padding-left: 10px;
}


aside {
    width: 50%;
}